/* :root {
  --primary-color: rgb(0, 201, 134);
  --primary-color-darker: rgb(0, 153, 102);
  --dark: rgb(24, 24, 24);
  --light: rgb(235, 235, 235);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color-darker);
}

body {
  margin: 0;
}

main {
  max-width: 56rem;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  border-radius: 2rem;
}

button {
  border-radius: 25rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark);
  color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

td {
  padding-right: 1.4rem;
}
td:last-child {
  padding-right: 0;
}
td h2 {
  margin: 0;
}

dialog {
  width: 40rem;
  top: 2rem;
  border-radius: 2rem;
  border: 0;
  padding: 2rem;
  background-color: var(--dark);
  box-shadow: 2px 2px 70px rgba(0, 0, 0, 0.5);
}
dialog::backdrop {
  background: black;
}
dialog img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
  }
  button {
    background-color: var(--light);
  }
  dialog {
    background-color: var(--light);
  }
} */
